{
    "plugins": [
      ["styled-components", { "ssr": true, "displayName": true, "preprocess": false } ],
      [
        "module-resolver",
        {
          "root": ["./"],
          "alias": {
            "@components": "./components",
            "@src": "./src"
        },
        "extensions": [".js", ".jsx", ".tsx"]
        }
      ]
    ],
    "presets": ["next/babel"]
  }